.user
  .user-icon
    = link_to user_path(user) do
      - if user.image.present?
        = image_tag user.image.url
      - else
        .no-image
          no image
  .user-name
    = link_to user_path(user) do
      #{user.name}

  .follow-btn{:class => "follows_buttons_#{user.id}"}
    = render partial: 'layouts/follow', locals: { user: user }
