.post
  .user-icon
    = link_to user_path(post.user) do
      - if post.user.image.present?
        = image_tag post.user.image.url
      - else
        .no-image
          no image

  .content
    .content-top
      .user-name
        = link_to user_path(post.user) do
          = post.user.name
      .post-content
        = post.post
        .post-content__image
          -if post.images.present?
            - post.images.each do |image|
              = link_to image.image_url.url ,'data-lightbox':image ,:rel => "lightbox" do
                = image_tag image.image_url.url ,class:'popup-image'
      .post-time
        = post.created_at.to_s(:datetime)

    .content-bottom
      .favorite-wrapper{:id => "favorites_buttons_#{post.id}"}
        = render partial: 'layouts/favorite', locals: { post: post }

      .destoroy-follow-wrapper
        - if user_signed_in? && current_user.id == post.user_id
          .destroy-btn
            = link_to "削除" ,"/posts/#{post.id}", method: :delete
        - else
          .follow-btn{:class => "follows_buttons_#{post.user.id}"}
            = render partial: 'layouts/follow', locals: { user: post.user }
